<div>
    <div class="movie-details text-light ">
        <div class="container">
            <h3 class="ps-2">{{MovieDetails.title}}</h3>
            <div class="d-flex">
            <p class="ms-2 px-2 py-1 me-2">{{MovieDetails.duration}}</p>
            <p class="px-2 py-1 me-2">{{MovieDetails.language}}</p>
            <P class="px-2 py-1">{{MovieDetails.genre}}</P>
        </div>  
        </div>
        
    </div>
    <div class="container d-flex mt-3">
        <div class="me-4 ms-0">
            <h6>Theater Name</h6>
            <div class="p-3"  *ngFor = "let data of cityTheaterDetails">
                <p class="theater-name m-0">{{data.theaterName}}</p>
            </div>
        </div>
        <div class="ms-4">
            <h6>Show Time</h6>
            <div class="p-3"  *ngFor = "let data of cityTheaterDetails">
                <button [routerLink]="['/bookticket',MovieDetails.id, data.startTime,data.cityName, data.theaterId]" class="btn btn-primary">{{data.startTime}}</button>
            </div>
        </div>
        
    </div>
</div>
